@model IList<HomeAutio.Mqtt.GoogleHome.Models.State.Device>

<div class="devices-page">
    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-9 mt-3">
            <div class="card">
                <div class="card-header">
                    <a asp-controller="GoogleDevice" asp-action="Create" class="btn btn-warning">
                        Add Device
                    </a>
                </div>
                <div class="card-body">
                    @foreach (var group in Model.Select(x => x.RoomHint).Distinct().Order())
                    {
                        <h4 class="mt-3 mb-2">@(group is not null ? group : "(unspecified)")</h4>
                        <div class="row row-cols-1 row-cols-md-2">
                        @foreach (var device in Model.Where(x => x.RoomHint == group).OrderBy(x => x.Name.Name))
                        {
                            <div class="col mb-2">
                                <a asp-controller="GoogleDevice" asp-action="Edit" asp-route-deviceId="@device.Id" class="card rounded-4 google-device @(device.Disabled ? "border-danger" : string.Empty)">
                                    <div class="card-header rounded-4 p-3 ">
                                        <div class="material-symbols-outlined" style="position:absolute;top:calc(50% - 12px);left:12px;">
                                            @HomeAutio.Mqtt.GoogleHome.Models.DeviceTypeIconMapper.Map(device.Type)
                                        </div>
                                        <div class="align-middle ps-4">
                                            <div class="lh-1 text-break">
                                                @device.Name.Name
                                            </div>
                                            <div class="text-muted lh-1 text-break">
                                                @device.Id
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-3 mt-3">
            <div class="card">
                <div class="card-header">
                    <a asp-controller="GoogleDevice" asp-action="SyncValidate" class="btn btn-warning">SYNC Response</a>
                </div>
                <div class="card-body">
                    <p>
                        Paste into the <a href="https://developers.google.com/assistant/smarthome/tools/validator">Google Validator</a> to check for issues.
                    </p>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <a asp-controller="GoogleDevice" asp-action="Json" class="btn btn-warning">Device JSON</a>
                </div>
                <div class="card-body">
                    <p>
                        Current device JSON
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
